/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}

.bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
}

body {
  font: 20px "Montserrat", sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
s p {
  font-size: 16px;
}

h3 {
  margin-bottom: 40px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

img[alt="guitar"] {
  width: 250px;
  height: auto;

  margin-right: 10px;
}

.about-me-paragraph {
  padding-right: 100px;
}

.form-inline {
  text-align: left;
}

#submit {
  margin-top: 20px;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
#resume {
  padding: 40px 100px;
  text-align: left;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1abc9c;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #a9d9cf;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1abc9c;
}
